apiVersion: apps/v1
kind: Deployment
metadata:
  name: popphp-legacy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: popphp-legacy
  template:
    metadata:
      labels:
        app: popphp-legacy
    spec:
      containers:
        - name: web
          image: lbcristaldo/popphp-legacy:latest
          ports:
            - containerPort: 80
          startupProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 0
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 30
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 25
