apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: rootpassword123
  MYSQL_DATABASE: popphp_db
  MYSQL_USER: popphp_user
  MYSQL_PASSWORD: popphp_pass
